<a href="https://colab.research.google.com/github/vishal7379/Colab/blob/main/NL_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install faker

import random
import os
import torch
import torch.nn as nn
from faker import Faker
from torch.utils.data import Dataset, DataLoader
from collections import Counter

fake = Faker()

SEED = 42
random.seed(SEED)
torch.manual_seed(SEED)

device = "cuda" if torch.cuda.is_available() else "cpu"
print("Device:", device)

Requirement already satisfied: faker in /usr/local/lib/python3.12/dist-packages (40.4.0)
Device: cuda

In [2]:
SQL_PATTERNS = (
    ["join"] * 6 +
    ["group_by"] * 3 +
    ["having"] * 2 +
    ["where"] * 2 +
    ["aggregation"] * 2 +
    ["multi_select"] +
    ["simple_select"]
)

In [3]:
BASE_COLUMNS = [
    "name","email","age","salary",
    "department","city","country",
    "price","amount","quantity",
    "created_at","updated_at"
]

FK_COLUMNS = [
    "user_id",
    "order_id",
    "product_id",
    "customer_id"
]

In [ ]:
COLUMN_TYPES = {
    "numeric":[
        "age","salary","price",
        "amount","quantity"
    ],
    "text":[
        "name","email",
        "department","city","country"
    ],
    "date":[
        "created_at","updated_at"
    ]
}

In [4]:
def generate_relational_schema():

    num_tables = random.randint(2,5)

    fake.unique.clear()

    tables = {}
    relationships = {}

    table_names = [fake.unique.word() for _ in range(num_tables)]

    for t in table_names:

        cols = {
            "numeric": random.sample(COLUMN_TYPES["numeric"],
                                     random.randint(1,3)),

            "text": random.sample(COLUMN_TYPES["text"],
                                  random.randint(1,3)),

            "date": random.sample(COLUMN_TYPES["date"],
                                  random.randint(0,1))
        }

        # flatten
        flat_cols = ["id"]

        for v in cols.values():
            flat_cols.extend(v)

        tables[t] = {
            "all": flat_cols,
            "numeric": cols["numeric"],
            "text": cols["text"],
            "date": cols["date"]
        }

    relationships_list = []

    for i in range(1, num_tables):

        parent = table_names[i-1]
        child = table_names[i]

        fk = f"{parent}_id"

        tables[child]["all"].append(fk)

        relationships_list.append(
            (child, fk, parent, "id")
        )

    return {
        "tables": tables,
        "relationships": relationships_list
    }

In [5]:
def schema_to_text(schema):

    parts = []

    for table, col_dict in schema["tables"].items():

        cols = col_dict["all"]

        col_tokens = " ".join([f"[COL] {c}" for c in cols])
        parts.append(f"[TABLE] {table} {col_tokens}")

    # relationships
    for child, fk, parent, pk in schema["relationships"]:
        parts.append(
            f"[REL] {child}.{fk} -> {parent}.{pk}"
        )

    return " ".join(parts)

In [6]:
SELECT_TEMPLATES = [
    "show {col} from {table}",
    "list {col} in {table}",
    "display {col} from {table}",
    "what are the {col} in {table}",
]

In [7]:
def generate_sql(schema):

    pattern = random.choice(SQL_PATTERNS)

    tables = schema["tables"]
    rels = schema["relationships"]

    table = random.choice(list(tables.keys()))

    columns = tables[table]["all"]
    numeric_cols = tables[table]["numeric"]
    text_cols = tables[table]["text"]

    # ---------- SIMPLE SELECT ----------
    if pattern == "simple_select":

        selected = random.sample(
            columns,
            random.randint(1, min(3, len(columns)))
        )

        question = f"show {', '.join(selected)} from {table}"
        sql = f"SELECT {', '.join(selected)} FROM {table}"


    # ---------- MULTI SELECT ----------
    elif pattern == "multi_select":

        selected = random.sample(
            columns,
            random.randint(2, min(4, len(columns)))
        )

        question = f"show {', '.join(selected)} from {table}"
        sql = f"SELECT {', '.join(selected)} FROM {table}"


    # ---------- WHERE ----------
    elif pattern == "where":

        # Prefer numeric filters
        if numeric_cols and random.random() < 0.7:

            col = random.choice(numeric_cols)
            operator = random.choice(["=", ">", "<"])
            value = random.randint(1, 100)

        else:

            col = random.choice(text_cols if text_cols else columns)
            operator = "="
            value = f"'{fake.word()}'"

        question = f"show {col} from {table} where {col} {operator} {value}"
        sql = f"SELECT {col} FROM {table} WHERE {col} {operator} {value}"


    # ---------- AGGREGATION ----------
    elif pattern == "aggregation":

        agg = random.choice(["COUNT","SUM","AVG","MIN","MAX"])

        if agg in ["SUM","AVG"]:

            if not numeric_cols:
                return generate_sql(schema)

            col = random.choice(numeric_cols)

        elif agg in ["MIN","MAX"]:

            candidates = numeric_cols + text_cols
            if not candidates:
                return generate_sql(schema)

            col = random.choice(candidates)

        else:  # COUNT
            col = random.choice(columns)

        question = f"what is the {agg.lower()} of {col} in {table}"
        sql = f"SELECT {agg}({col}) FROM {table}"


    # ---------- GROUP BY ----------
    elif pattern == "group_by":

        group_candidates = text_cols if text_cols else columns
        group_col = random.choice(group_candidates)

        if numeric_cols:
            agg_col = random.choice(numeric_cols)
        else:
            return generate_sql(schema)

        agg = random.choice(["COUNT","SUM","AVG","MIN","MAX"])

        question = f"{agg.lower()} of {agg_col} grouped by {group_col}"

        sql = f"""
SELECT {group_col}, {agg}({agg_col})
FROM {table}
GROUP BY {group_col}
"""


    # ---------- HAVING ----------
    elif pattern == "having":

        group_candidates = text_cols if text_cols else columns
        group_col = random.choice(group_candidates)

        if not numeric_cols:
            return generate_sql(schema)

        agg_col = random.choice(numeric_cols)
        agg = random.choice(["COUNT","SUM","AVG","MIN","MAX"])

        operator = random.choice([">", "<", "="])
        value = random.randint(1,50)

        question = f"{agg.lower()} of {agg_col} grouped by {group_col} having value {operator} {value}"

        sql = f"""
SELECT {group_col}, {agg}({agg_col})
FROM {table}
GROUP BY {group_col}
HAVING {agg}({agg_col}) {operator} {value}
"""


    # ---------- JOIN ----------
    elif pattern == "join" and rels:

        child, fk, parent, pk = random.choice(rels)

        if random.random() < 0.5:
            left, right = parent, child
            left_key, right_key = pk, fk
        else:
            left, right = child, parent
            left_key, right_key = fk, pk

        select_col = random.choice(tables[left]["all"])

        question = f"show {select_col} from {left} joined with {right}"

        sql = f"""
SELECT {left}.{select_col}
FROM {left}
JOIN {right}
ON {left}.{left_key} = {right}.{right_key}
"""

    else:
        return generate_sql(schema)

    return question.strip(), sql.strip()

In [10]:
def build_dataset_by_schema(num_schemas=8000,
                            queries_per_schema=8):

    schemas = [generate_relational_schema()
               for _ in range(num_schemas)]

    split = int(0.9 * num_schemas)

    train_s = schemas[:split]
    test_s = schemas[split:]

    def build_examples(schema_list):

        data = []

        for schema in schema_list:

            schema_text = schema_to_text(schema)

            for _ in range(queries_per_schema):

                q, sql = generate_sql(schema)

                model_input = f"""
Schema:
{schema_text}

Question:
{q}
"""

                data.append({
                    "input": model_input.strip(),
                    "output": sql.strip()
                })

        return data

    return build_examples(train_s), build_examples(test_s)


train, test = build_dataset_by_schema()

print("Train:", len(train))
print("Test:", len(test))

Train: 57600
Test: 6400

In [11]:
def build_vocab(data):

    counter = Counter()

    for row in data:
        counter.update(row["input"].split())
        counter.update(row["output"].split())

    vocab = {w:i+2 for i,(w,_) in enumerate(counter.items())}
    vocab["<pad>"] = 0
    vocab["<unk>"] = 1

    return vocab

vocab = build_vocab(train)

torch.save(vocab, "vocab.pt")

In [12]:
MAX_LEN = 220

def encode(text):

    tokens = text.split()

    ids = [vocab.get(t,1) for t in tokens][:MAX_LEN]

    ids += [0]*(MAX_LEN-len(ids))

    return torch.tensor(ids)

class NL2SQLDataset(Dataset):

    def __init__(self,data):
        self.data = data

    def __len__(self):
        return len(self.data)

    def __getitem__(self,idx):

        row = self.data[idx]

        return encode(row["input"]), encode(row["output"])

In [13]:
class NL2SQLModel(nn.Module):

    def __init__(self, vocab_size, d_model=256):
        super().__init__()

        self.embed = nn.Embedding(vocab_size, d_model)

        self.transformer = nn.Transformer(
            d_model=d_model,
            nhead=8,
            num_encoder_layers=3,
            num_decoder_layers=3,
            batch_first=True
        )

        self.fc = nn.Linear(d_model, vocab_size)

    def forward(self, src, tgt):

        src_mask = (src == 0)
        tgt_mask = (tgt == 0)

        src = self.embed(src)
        tgt = self.embed(tgt)

        out = self.transformer(
            src,
            tgt,
            src_key_padding_mask=src_mask,
            tgt_key_padding_mask=tgt_mask
        )

        return self.fc(out)

In [14]:
for i in range(20):
    print(train[i]["input"])
    print(train[i]["output"])
    print("-----")

Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
count of id grouped by country
SELECT country, COUNT(id)
FROM meet
GROUP BY country
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
show created_at from meet joined with somebody
SELECT meet.created_at
FROM meet
JOIN somebody
ON meet.id = somebody.meet_id
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
what is the max of name in somebody
SELECT MAX(name) FROM somebody
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
min of department grouped by salary
SELECT salary, MIN(department)
FROM somebody
GROUP BY salary
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
show id from meet where id > 85
SELECT id FROM meet WHERE id > 85
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
what is the max of department in somebody
SELECT MAX(department) FROM somebody
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
show age from meet joined with somebody
SELECT meet.age
FROM meet
JOIN somebody
ON meet.id = somebody.meet_id
-----
Schema:
[TABLE] meet [COL] id [COL] age [COL] updated_at [COL] country [COL] created_at [COL] name [TABLE] somebody [COL] id [COL] city [COL] salary [COL] department [COL] name [COL] updated_at [COL] meet_id [REL] somebody.meet_id -> meet.id

Question:
show id from meet joined with somebody
SELECT meet.id
FROM meet
JOIN somebody
ON meet.id = somebody.meet_id
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
count of amount grouped by amount having value = 27
SELECT amount, COUNT(amount)
FROM industry
GROUP BY amount
HAVING COUNT(amount) = 27
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
show updated_at from program where updated_at > 40
SELECT updated_at FROM program WHERE updated_at > 40
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
show id, city, updated_at from program
SELECT id, city, updated_at FROM program
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
show salary, name, program_id from industry
SELECT salary, name, program_id FROM industry
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
what is the avg of program_id in industry
SELECT AVG(program_id) FROM industry
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
show id from program where id = 70
SELECT id FROM program WHERE id = 70
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
show updated_at, created_at from program
SELECT updated_at, created_at FROM program
-----
Schema:
[TABLE] program [COL] id [COL] created_at [COL] country [COL] city [COL] email [COL] updated_at [COL] amount [TABLE] industry [COL] id [COL] name [COL] salary [COL] amount [COL] program_id [REL] industry.program_id -> program.id

Question:
show country from program
SELECT country FROM program
-----
Schema:
[TABLE] stage [COL] id [COL] city [COL] country [COL] amount [COL] email [COL] age [TABLE] home [COL] id [COL] department [COL] price [COL] city [COL] email [COL] country [COL] stage_id [REL] home.stage_id -> stage.id

Question:
show amount from stage joined with home
SELECT stage.amount
FROM stage
JOIN home
ON stage.id = home.stage_id
-----
Schema:
[TABLE] stage [COL] id [COL] city [COL] country [COL] amount [COL] email [COL] age [TABLE] home [COL] id [COL] department [COL] price [COL] city [COL] email [COL] country [COL] stage_id [REL] home.stage_id -> stage.id

Question:
show city from home joined with stage
SELECT home.city
FROM home
JOIN stage
ON home.stage_id = stage.id
-----
Schema:
[TABLE] stage [COL] id [COL] city [COL] country [COL] amount [COL] email [COL] age [TABLE] home [COL] id [COL] department [COL] price [COL] city [COL] email [COL] country [COL] stage_id [REL] home.stage_id -> stage.id

Question:
show country from stage joined with home
SELECT stage.country
FROM stage
JOIN home
ON stage.id = home.stage_id
-----
Schema:
[TABLE] stage [COL] id [COL] city [COL] country [COL] amount [COL] email [COL] age [TABLE] home [COL] id [COL] department [COL] price [COL] city [COL] email [COL] country [COL] stage_id [REL] home.stage_id -> stage.id

Question:
max of amount grouped by city having value < 23
SELECT city, MAX(amount)
FROM stage
GROUP BY city
HAVING MAX(amount) < 23
-----

In [27]:
train_loader = DataLoader(
    NL2SQLDataset(train),
    batch_size=32,
    shuffle=True
)

model = NL2SQLModel(len(vocab)).to(device)

optimizer = torch.optim.Adam(model.parameters(), lr=3e-4)
loss_fn = nn.CrossEntropyLoss(ignore_index=0)

In [28]:
CHECKPOINT_PATH = "nl2sql_checkpoint.pt"

def save_checkpoint(epoch, model, optimizer, loss):

    torch.save({
        "epoch": epoch,
        "model_state": model.state_dict(),
        "optimizer_state": optimizer.state_dict(),
        "loss": loss
    }, CHECKPOINT_PATH)

def load_checkpoint(model, optimizer):

    if os.path.exists(CHECKPOINT_PATH):

        ckpt = torch.load(CHECKPOINT_PATH,
                          map_location=device)

        model.load_state_dict(ckpt["model_state"])
        optimizer.load_state_dict(ckpt["optimizer_state"])

        print("Resuming from epoch:",
              ckpt["epoch"]+1)

        return ckpt["epoch"] + 1

    return 0

In [29]:
EPOCHS = 20
best_loss = float("inf")

start_epoch = load_checkpoint(model, optimizer)

for epoch in range(start_epoch, EPOCHS):

    model.train()
    total_loss = 0

    for x,y in train_loader:

        x = x.to(device)
        y = y.to(device)

        optimizer.zero_grad()

        output = model(x, y[:,:-1])

        loss = loss_fn(
            output.reshape(-1, len(vocab)),
            y[:,1:].reshape(-1)
        )

        loss.backward()
        optimizer.step()

        total_loss += loss.item()

    avg_loss = total_loss / len(train_loader)

    print(f"Epoch {epoch} | Loss {avg_loss}")

    save_checkpoint(epoch, model, optimizer, avg_loss)

    if avg_loss < best_loss:
        best_loss = avg_loss
        torch.save(model.state_dict(),
                   "best_model.pt")
        print("â­ BEST MODEL SAVED")

KeyboardInterrupt: